@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Raleway:wght@300;400;600;700&family=Roboto&display=swap');

@font-face {
    font-family: 'Dela Gothic One';
    src: url('../fonts/DelaGothicOne-Regular.woff2') format('woff2'),
        url('../fonts/DelaGothicOne-Regular.woff') format('woff'),
        url('../fonts/DelaGothicOne-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}



textarea { resize: none; }
a{ color: black; }
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Dela Gothic One', sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}
.content{
    flex: 1 1 auto;
}
.title{
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 140.3%;
    text-transform: uppercase;
}
.subtitle{
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 151.3%;
    text-transform: uppercase;
}
h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.active{
    color: #DA1F39;
    font-weight: 700;
}

.button{
    background: #DA1F39;
    text-align: center;
    padding: 17px 0;
    line-height: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.underline{
    border-bottom: 1px solid black;
}

// header
.header {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        height: 100px;
        padding: 0 80px;
        // background-color: bisque;
    }
    &__menu {
    }
    &__burger{
        display: none;
    }
    &__menu-list {
        display: flex;
        align-items: center;
        a{
            margin: 0 30px 0 0;
        }
        a:last-child{
            margin: 0;
        }
    }
    &__logo {
    }
    &__tools {
        display: flex;
        align-items: center;
        & a{
            margin: 0 24px 0 0;
        }
        & a:nth-child(3){
            margin: 0 23px 0 0;
        }
        & a:nth-child(3){
            margin: 0 16px 0 0;
        }
        & a:last-child{
            margin: 0;
        }
        & input{
            display: none;
        }
        & label{
            cursor: pointer;
        }
        & input:checked ~ .header__language-hidden{
            height: auto;
            opacity: 1;
            transition: 1s height ease-in-out .2s, .3s opacity ease-in-out;
        }
    }
    &__language-hidden{
        height: 0;
        opacity: 0;
        position: absolute;
        &::after{
            content: none;
        }
        & li:hover{
            background: #F4F4F4;
        }
    }
    &__language{
        margin: 0 24px 0 0;
        padding: 0 14px 0 0;
        background: url(../img/icons/nav_arrow.svg) 27px 50% no-repeat;
    }
    &__cart{
        position: relative;
    }
    &__cart-label{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        text-align: center;
        background: #DA1F39;
        display: block;
        position: absolute;
        border-radius: 6px;
        font-size: 10px;
        right: -3px;
        bottom: -3px;
        padding: 0px 4px;
        line-height: normal;
    }
}
// header end

// footer
.footer {
    &__link-arrow{
        position: absolute;
        left: 47%;
        top: -40px;
    }
    & li{
        margin: 0 0 10px 0;
    }
    &__body {
        position: relative;
        background: #F4F4F4;
        font-weight: 300;
        line-height: 166.19%;
        padding: 62px 200px 70px 80px;
    }
    &__logo{
        margin: 0 0 0 45%;
    }
    &__row{
        margin: 32px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__about {
        display: flex;
        order: 1;
    }
    &__about-about, &__about-info {
        margin: 0 50px 0 0;
        & li:nth-child(3){
            margin: 0 0 30px 0;
        }
        & li:nth-child(4){
            margin: 0;
        }
    }
    &__contacts {
        order: 2;
    }
    &__contacts-list{
        & li:nth-child(4), & li:nth-child(5){
            display: inline;
        }
        & li:nth-child(4){
            margin: 0 20px 0 0;
        }
    }
    &__socials {
        order: 3;
    }
    &__socials-socials{
        display: flex;
        gap: 24px;
        margin: 14px 0 66px 0;
        & li{
            margin: 0;
        }
        & img{
            vertical-align: middle;
        }
    }
    &__copyright-hidden{
        display: none;
        order: 4;
    }
}
// footer end


// catalogue styles
.breadcrumbs {
    &__body {
        margin: 10px 0 20px 0;
        padding: 0 80px;
        font-size: 12px;
        font-weight: bold;
    }

    &__list {
        & li{
            position: relative;
            display: inline-block;
            margin: 0 35px 0 0;
            &:not(:first-child)::before{
                content: url(../img/icons/breadcrumbs__line.svg);
                position: absolute;
                left: -30px;
                bottom: 4px;
            }
        }
        & li:last-child{
            font-weight: normal;
        }
    }
}

.catalogue {

    &__body {
        margin: 20px 0 0 0;
        padding: 0 80px;
    }

    &__title{
        
    }
    &__heading{
    }
    &__heading-row{
        display: flex;
        justify-content: space-between;
    }

    &__row {
        display: flex;
    }

    &__aside {
        width: 240px;
        padding: 35px 0 0 0;
    }

    &__items {
        position: relative;
        width: 100%;
        & > input{
            display: none;
        }
        & > label{
            cursor: pointer;
        }
        .layout2x2::after{
            content: ' ' url(../img/icons/layout2x2.svg);
        }
        .layout3x3::after{
            content: ' ' url(../img/icons/layout3x3.svg);
        }
        .layout2x2_input:checked + .layout2x2::after{
            content: ' ' url(../img/icons/layout2x2_active.svg);
        }
        .layout3x3_input:checked + .layout3x3::after{
            content: ' ' url(../img/icons/layout3x3_active.svg);
        }
        .layout2x2_input:checked ~ .items__container{
            grid-template-columns: repeat(2, 1fr);
        }
        .layout3x3_input:checked ~ .items__container{
            grid-template-columns: repeat(3, 1fr);
        }
        .layout3x3{
            left: 24px;
        }
        .layout{
            position: absolute;
            top: 37px;
        }
    }
    &__filters{
        display: none;
        font-size: 12px;
        & input{
            display: none;
        }
        & label{
            cursor: pointer;
        }
        & label::after{
            content: ' ' url(../img/icons/aside_arrow.svg);
        }
    }

    &__sort {
        margin: 0 0 0 55px;
        align-self: flex-end;
        font-size: 12px;
        position: relative;
        & input{
            display: none;
        }
        & label{
            cursor: pointer;
        }
        & label::after{
            content: ' ' url(../img/icons/aside_arrow.svg);
        }
        & input:checked ~ .catalogue__sort-menu{
            height: auto;
            opacity: 1;
            transition: 1s height ease-in-out .2s, .3s opacity ease-in-out;
        }
    }
    &__sort-menu {
        top: 15px;
        position: absolute;
        height: 0px;
        opacity: 0;
        background-color: white;
        border: 1px solid #e0dede8e;
        & li{
            padding: 4px 2px;
            :hover{
                background: #F4F4F4;
            }
        }
    }
}

.aside {
    &__filter {
        font-size: 12px;
        line-height: 20px;
        margin: 0 0 15px 0;
        &:last-child{
            margin: 0;
        }
        & > input{
            display: none;
        }
        & > label{
            cursor: pointer;
            font-weight: bold;
        }
        & > label::after{
            content: ' ' url(../img/icons/aside_arrow.svg);
        }

        & input:checked ~ .aside__filter-items{
            height: auto;
            opacity: 1;
            transition: 1s height ease-in-out .2s, .3s opacity ease-in-out;
        }
    }
    &__filter-items {
        opacity: 0;
        height: 0px;
        margin: 5px 0 0 0;
        color: #565656;
        & input{
            height: 12px;
        }
    }
}

.items {
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin: 45px 0 64px 0;
        max-width: 1084px;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // gap: 50px;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__item-photo img{
        max-width: 100%;
    }

    &__item-name {
        margin: 5px 0 10px 0;
    }

    &__item-price {
        font-weight: bold;
        margin-top: auto;
    }
}

.showmore {
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        margin: 0 0 130px 50%;
    }

    &__pages {
    }
}

.show-more-btn{
    display: inline;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    background: none, url(../img/icons/show_more_line.svg) 0 19px no-repeat;
    &::after{
        content: ' ' url(../img/icons/refresh.svg);
    }
}

.pages {
    & li{
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 166.2%;
        margin: 0 10px 0 0;
    }
    & li:nth-child(3)::after{
        content: '...';
        margin: 0 0 0 10px;
    }
}
.not-active{
    color: #B0B0B0;
}

// end of catalogue styles

// item styles
.item {
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__gallery {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        :first-child{
            grid-column: span 2;
        }
    }

    &__about {
        max-width: 435px;
        & > span{
            font-size: 10px;
            line-height: 12px;
            color: #B5B5B5;
        }
    }
    &__about-subtitle {
        max-width: 434px;
    }

    &__about-color {
        margin: 40px 0 20px 0;
        display: flex;
        gap: 47px;
    }

    &__about-counter {
        display: flex;
        gap: 10px;
        & button{
            width: 21px;
            height: 21px;
            background: #F4F4F4;
        }
    }
    &__sizes{
        & label{
            margin: 0 15px 0 0;
        }
        & label:last-child{
            margin: 0;
        }
        & input{
            display: none;
        }
        & input:checked + label{
            font-weight: bold;
        }
    }
    &__table{
        display: inline-block;
        margin: 10px 0;
        font-size: 12px;
        border-bottom: 1px solid black;
    }
    &__outofstock{
        font-size: 12px;
        color: #DA1F39;
    }
    &__price{
        margin: 10px 0;
        font-weight: 700;
    }
    &__button{
        width: 242px;
        margin: 0 0 70px 0;
    }

    &__accord {
        :last-child .item__accord-answer{
            border: none;
        }
    }
    &__accord-body{
        position: relative;
        margin: 0 0 -10px 0;
    }

    &__accord-title{
        padding: 15px 0;
    }

    &__accord-checkbtn {
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 14px;
        right: 0;
        &:checked ~ .item__accord-btn > span::before{
            content: url(../img/icons/minus.svg);
        }
        &:checked ~ .item__accord-answer{
            height: auto;
            & > p{
                opacity: 1;
                transition: .3s opacity ease-in-out;
            }
            transition: 1s height ease-in-out .2s;
            border: none;
            border-bottom: 1px solid black;
        }
    }

    &__accord-btn {
        & span{
            position: absolute;
            right: 2px;
            top: 15px;
            z-index: 1;
        }
        & span::before{
            content: url(../img/icons/plus.svg);
        }
    }

    &__accord-answer {
        padding: 0 0 15px 0;
        height: 0px;
        border-top: 1px solid black;
        & p{
            opacity: 0;
        }
        & p:not(:last-child){
            margin: 0 0 15px 0;
        }
    }
}
.slider {
    & label{
        cursor: pointer;
    }
    & input{
        display: none;
    }
    &__body {
        position: relative;
        margin: 130px 0 0 0;
        padding: 0 0 0 80px;
        height: 750px;
        overflow: hidden;
        background: url(../img/slider/line.svg) 80px 625px no-repeat, 
        url(../img/slider/slider_line.svg) 80px 625px no-repeat;
    }

    &__heading {
        margin: 0 0 40px 0;
        display: flex;
        justify-content: space-between;
    }
    &__arrow-row{
        position: absolute;
        top: 20px;
        right: 0;
    }
    &__arrow-left{
        right: 70px;
    }
    &__arrow-left::after{
        content:  url(../img/slider/arrow_left.svg);
    }
    &__arrow-right::after{
        content:  url(../img/slider/arrow_right.svg);
    }
    &__input-right:checked ~ .slider__row{
        right: 0;
        transition: 4s right ease-in-out 1s;
    }

    &__title {
        margin: 0 0 40px 0;
    }

    &__row {
        position: absolute;
        display: flex;
        gap: 50px;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 325px;
    }

    &__item-photo {
        background: url(../img/slider/slider_background.png) no-repeat;
        width: 325px;
        height: 415px;
        :hover{
            padding: 30px;
        }
    }
    &__item-photo img{
        max-width: 100%;
    }

    &__item-text {
        margin: 5px 0 10px 0;
    }

    &__item-price {
        font-weight: bold;
        margin-top: auto;
    }
}
// end of item styles





@media only screen and (max-width: 1055px) {
    aside{
        display: none;
    }
    .header__burger{

    }
    .header__menu-list a:last-child{
        display: none;
    }
    .header__language{
        display: none;
    }
    .showmore__button{
        margin: 0 0 130px 40%;
    }
    .footer__body{
        padding: 62px 80px 70px 80px;
    }
}

@media only screen and (max-width: 860px) {
    .header__menu-list a:not(:first-child){
        display: none;
    }
    .header__phone{
        display: none;
    }
    .header__burger{
        display: block;
    }
    .breadcrumbs{
        display: none;
    }
    .layout{
        display: none;
    }
    .items__container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .catalogue__sort{
        margin: 0;
    }
    .catalogue__heading-row{
        flex-direction: column-reverse;
    }
    .catalogue__filters{
        display: block;
    }
    .catalogue__sort{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .footer__socials{
        order: 2;
    }
    .footer__contacts{
        order: 3;
    }
}
@media only screen and (max-width: 750px) {
    .showmore__pages {
        display: none;
    }
    .footer__row{
        gap: 20px;
    }.footer__about-about{
        margin: 0 20px 0 0;
    }
    .footer__about-info{
        margin: 0;
    }
}


@media only screen and (max-width: 650px) {
    .header__body, .catalogue__body, .footer__body{
        padding: 0 10px;
    }
    .catalogue__title{
        text-align: end;
    }
    .footer__logo{
        margin: 0 0 0 30%;
    }
}
@media only screen and (max-width: 530px) {
    .header__body{
        height: auto;
    }
    .title{
        font-size: 24px;
        margin: 0 0 20px 0;
    }
    .showmore__button{
        margin: 0 0 50px 30%;
    }
    .footer__socials-socials{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 450px) {
    .footer__copyright-hidden{
        display: inline;
    }
    .footer__socials-copyright{
        display: none;
    }
    .footer__socials-socials{
        margin: 0;
    }
    .footer__socials{
        max-width: 115px;
    }
    .footer__row{
        margin: 20px 0;
    }
    
    .footer__about-about, .footer__about-info {
        & li:nth-child(3){
            margin: 0 0 20px 0;
        }
        & li:nth-child(4){
            margin: 0;
        }
    }
}
@media only screen and (max-width: 400px) {
    .title{
        font-size: 18px;
    }
    .footer__logo{
        margin: 0 0 0 25%;
    }
    
}


.showmore {
    &__row {
        display: flex;
        justify-content: space-between;
    }
}